.address {
  padding: 90px 0 60px;
  background: $gray-dark;

  h3 {
    color: $white;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
  }

}

@media (max-width: $screen-lg-min) {

  .address {
    padding: 60px 0 50px;
  }

}

@media (max-width: $screen-md-min) {

  .address {
    padding: 40px 0 30px;

    h3 {
      font-size: 18px;
    }

  }

}

@media (max-width: $screen-sm-min) {

  .address {
    padding: 20px 0 20px;
  }

}