.section-carousel {
  position: relative;

  .carousel {

    &-control {
      top: 50%;
      transform: translateY(-50%);
      bottom: initial;
      height: 100px;
      background-color: $gray-dark;
      z-index: 3;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.right {
        @include gradient-horizontal(transparent, transparent, 0);
      }

    }

    .item {

      &-slide {
        margin: 0;
      }

      img {
        width: 100%;
      }

    }

  }

}

@media (max-width: $screen-sm-min) {

  .section-carousel {

    .carousel {

      &-control {
        height: 80px;
      }

      .item {

        img {
          min-height: 250px;
        }

      }

    }

  }

}

@media (max-width: $screen-xs-min) {

  .section-carousel {

    .carousel {

      &-control {
        height: 50px;
      }

      .item {

        img {
          min-height: 200px;
        }

      }

    }

  }

}