.categories-list {
  margin: 0 0 55px;

  &:not(:last-child) {
    margin: 0 0 55px;
  }

  ul {
    font-family: $second-font-family-sans-serif;
    padding: 0 0 0 30px;
    margin: 0;

    li {
      position: relative;

      a {
        color: $gray;
        display: block;

        &:hover {
          color: $brand-danger;
        }

      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      i {
        position: absolute;
        left: -30px;
        top: 0;
        color: $brand-danger;
      }

    }

  }

}

@media (max-width: $screen-lg-min) {

  .categories-list {
    margin: 0 0 40px;

    &:not(:last-child) {
      margin: 0 0 40px;
    }

  }

}

@media (max-width: $screen-md-min) {

  .categories-list {
    margin: 0 0 30px;

    &:not(:last-child) {
      margin: 0 0 30px;
    }

  }

}

@media (max-width: $screen-sm-min) {

  .categories-list {
    margin: 0 0 20px;

    &:not(:last-child) {
      margin: 0 0 20px;
    }

  }

}