.side-block-wrapper {

  h3 {

    &:not(:last-child) {
      margin: 0 0 20px;
    }

  }

}

.main-block-wrapper {

  h3 {
    margin: 0 0 20px;
    display: inline-block;
    vertical-align: top;
  }

}

.button-wrapper {
  padding: 50px 0 30px;
  position: relative;
  border-top: 1px solid #dee8eb;
}