.list-content-wrapper {
  margin: 0 -15px 90px;
}

.graph-content {
  padding: 90px 0 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    width: 100%;
    background: #e0eaec;
  }

  .project-item-description {
    margin: 0 0 70px;
  }

  .image-block {
    margin-bottom: 30px;

    img {
      height: 100%;
      width: 100%;
    }

  }

}