.contact-block {
  padding: 40px 30px;
  display: block;
  font-family: $second-font-family-sans-serif;
  color: $gray-medium;
  border: 1px solid $gray-light;
  transition: color 0.3s linear, border-color 0.3s linear;
  margin-bottom: 30px;
  @include clearfix;

  &:hover {
    border-color: $brand-danger;
  }

  i {
    float: left;
    font-size: 60px;
    padding-right: 40px;
  }

  .contact-text {
    float: right;
  }

  h3 {
    font-family: $font-family-sans-serif;

    &:not(:last-child) {
      margin: 0 0 10px;
    }

  }

  span {
    display: block;
    font-size: 18px;
    line-height: 1;

    &:not(:last-child) {
      margin: 0 0 10px;
    }

  }

}

@media (max-width: $screen-lg-min) {

  .contact-block {
    padding: 30px 25px;

    i {
      padding-right: 20px;
      font-size: 50px;
    }

    h3 {
      font-size: 17px;
    }

    span {
      font-size: 16px;
    }

  }

}

@media (max-width: $screen-md-min) {

  .contact-block {
    padding: 30px 25px;
    text-align: center;

    i {
      padding: 0;
      display: block;
      margin: 0 0 15px;
      float: none;
    }

    h3 {
      font-size: 17px;
    }

    span {
      font-size: 16px;
    }

    .contact-text {
      float: none;
      text-align: left;
    }

  }

}

@media (max-width: $screen-sm-min) {

  .contact-block {
    padding: 30px 25px;
    text-align: center;

    .contact-text {
      text-align: center;
    }

  }

}