.item-team {
  border: 1px solid $gray-light-2;
  margin: 0 0 90px;

  .image-block {
    margin: 0 0 45px;
  }

  .description-block {
    padding: 0 45px 45px;

    p:not(:last-child) {
      margin: 0 0 60px;
    }

  }

}

@media (max-width: $screen-lg-min) {

  .item-team {
    margin: 0 0 70px;

    .image-block {
      margin: 0 0 30px;
    }

    .description-block {
      padding: 0 30px 30px;

      p {

        &:not(:last-child) {
          margin: 0 0 40px;
        }

      }

    }

  }

}

@media (max-width: $screen-md-min) {

  .item-team {
    margin: 0 0 40px;

    .image-block {
      margin: 0 0 25px;
    }

    .description-block {
      padding: 0 25px 25px;

      p {

        &:not(:last-child) {
          margin: 0 0 30px;
        }

      }

    }

  }

}

@media (max-width: $screen-sm-min) {

  .item-team {
    margin: 0 0 30px;

    .image-block {
      margin: 0 0 15px;
    }

    .description-block {
      padding: 0 15px 15px;

      p {

        &:not(:last-child) {
          margin: 0 0 15px;
        }

      }

    }

  }

}