.item-description {
  margin: 0 0 70px;

  .image-block {
    margin: 0 0 45px;
  }

}

@media (max-width: $screen-lg-min) {

  .item-description {
    margin: 0 0 60px;

    .image-block {
      margin: 0 0 35px;
    }

  }

}

@media (max-width: $screen-md-min) {

  .item-description {
    margin: 0 0 50px;

    .image-block {
      margin: 0 0 30px;
    }

  }

}

@media (max-width: $screen-sm-min) {

  .item-description {
    margin: 0 0 30px;

    .image-block {
      margin: 0 0 25px;
    }

  }

}