.item {

  &-career {
    position: relative;
    margin: 0;
    
    &:not(:last-child) {
      margin: 0 0 40px;
      padding: 0 0 40px;
    }

    &:not(:last-child):after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #e3eaed;
    }

    &-wrapper {
      padding: 20px;
    }

    h3 {
      margin: 0 0 30px;
    }

    .icon-block-green {
      float: left;
      margin-right: 30px;
    }

    .description-block {
      overflow: hidden;
      margin: 0;
    }

  }

}

@media (max-width: $screen-lg-min) {

  .item {

    &-career {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 20px;
        padding: 0 0 20px;
      }

      &-wrapper {
        padding: 15px;
      }

      h3 {
        margin: 0 0 20px;
      }

      .icon-block-green {
        float: left;
        margin-right: 20px;
      }

    }

  }

}

@media (max-width: $screen-md-min) {

  .item {

    &-career {
      margin: 0;

      &-wrapper {
        padding: 0;
      }

      .description-block {
        overflow: hidden;
        margin: 0;
      }

      .icon-block-green {
        margin-right: 20px;
      }

    }

  }

}

@media (max-width: $screen-sm-min) {

  .item {

    &-career {
      margin: 0;

      .icon-block-green {
        margin-right: 20px;
      }

    }

  }

}