.item-service {
  margin: 0 20px 45px 0;

  .icon-block {
    margin: 0 0 30px;

    i {
      @include transition(color 0.3s linear);
    }

    &:hover i {
      color: $brand-danger;
    }

  }

}

@media (max-width: $screen-lg-min) {

  .item-service {
    margin: 0 15px 40px 0;

    .icon-block {
      margin: 0 0 30px;
    }

  }

}

@media (max-width: $screen-md-min) {

  .item-service {
    margin: 0 0 30px;

    .icon-block {
      margin: 0 0 25px;
    }

  }

}

@media (max-width: $screen-sm-min) {

  .item-service {
    margin: 0 0 25px;

    .icon-block {
      margin: 0 0 20px;
    }

  }

}