.item-post {
  margin: 0 0 25px;
  display: block;

  &-featured, &-related {

    &:last-child {
      margin: 0 0 50px;
    }

    .image-block {

      img {
        width: 100%;
        height: auto;
      }

      &:not(:last-child) {
        margin: 0 0 20px;
      }

    }

    .description-block {
      line-height: 1;

      &:not(:last-child) {
        margin: 0 0 30px;
      }

      h3 {
        font-size: 14px;

        &:not(:last-child) {
          margin: 0 0 10px;
        }

      }

      time {
        text-transform: uppercase;
        color: $brand-danger;
        font-family: $font-family-sans-serif;
        font-weight: 600;
        display: block;
      }

    }

  }

  .item-related {
    margin: 0 0 90px;

    .image-block {

      &:not(:last-child) {
        margin: 0 0 30px;
      }

    }

  }

}

.item-post-sm {
  @include inline-space-reset;
  margin: 0 0 55px;

  .image-block {
    width: 42%;
    display: inline-block;
    vertical-align: middle;

    img {
      width: 100%;
      height: auto;
    }

  }

  .description-block {
    @include inline-space(1.8, 15px);
    display: inline-block;
    vertical-align: middle;
    width: 58%;
    padding-left: 30px;
  }

}

@media (max-width: $screen-lg-min) {

  .item-post-sm {
    margin: 0 0 40px;
  }

}

@media (max-width: $screen-md-min) {

  .item-post-sm {
    margin: 0 0 25px;

    .item-image {
      margin: 0 0 20px;
    }

  }

  .item-post {

    &:last-child {
      margin: 0 0 30px;
    }

    &-related:last-child {
      margin: 0 0 30px;
    }

  }

}

@media (max-width: $screen-sm-min) {

  .item-post {

    &:last-child {
      margin: 0 0 25px;
    }

  }

  .item-post-sm {
    margin: 0 0 20px;
  }

}