.item {

  &-list {
    font-family: $second-font-family-sans-serif;
    position: relative;

    ul {
      padding-left: 45px;
      list-style: none;
      position: relative;
      margin: 0 0 20px;
    }

    li {
      line-height: 1.8;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

    }

    i {
      position: absolute;
      left: 0;
      color: $brand-danger;
    }

  }

}

@media (max-width: $screen-lg-min) {

  &-list {

    ul {
      margin: 0 0 15px;
      padding-left: 40px;
    }

  }

}

@media (max-width: $screen-md-min) {

  &-list {

    ul {
      padding-left: 30px;
    }

  }

}