.item-manage {
  margin: 0 0 60px;

  .image-block {
    float: left;
    margin-right: 25px;

    img {
      width: auto;
    }

  }

  .description-block {
    overflow: hidden;

    p {
      margin: 0 0 50px;
    }

  }

  .item-head-sm {
    margin: 0 0 25px;

    h2 {
      font-size: 15px;
    }

  }

  .social-links {
    border-top: 1px solid #dbe4e4;
    padding: 15px 0 0;
  }

}

@media (max-width: $screen-lg-min) {

  .item-manage {
    margin: 0 0 30px;
    text-align: center;

    .image-block {
      float: none;
      margin: 0 0 30px;
      display: inline-block;
    }

    .description-block {

      p {
        margin: 0 0 30px;
      }

    }

  }

}

@media (max-width: $screen-md-min) {

  .item-manage {

    .description-block {

      p {
        margin: 0 0 20px;
      }

    }

  }

}

@media (max-width: $screen-sm-min) {

  .item-manage {

    .image-block {
      margin: 0 0 25px;
    }

    .description-block {

      p {
        margin: 0 0 15px;
      }

    }

  }

}