.item-career {

  .description-block {
    margin: 0 0 65px;
  }

}

@media (max-width: $screen-lg-min) {

  .item-career {

    .description-block {
      margin: 0 0 50px;
    }

  }

}

@media (max-width: $screen-md-min) {

  .item-career {

    .description-block {
      margin: 0 0 40px;
    }

  }

}

@media (max-width: $screen-lg-min) {

  .item-career {

    .description-block {
      margin: 0 0 30px;
    }

  }

}