.item-video {
  border: 1px solid $gray-light-2;
  @include inline-space-reset;

  .image-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    img {
      height: 270px;
    }

  }

  .description-block {
    @include inline-space(1.8, 15px);
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    padding: 0 30px;

    p:not(:last-child) {
      margin: 0 0 60px;
    }

  }

}

@media (max-width: $screen-md-min) {

  .item-video {
    margin-bottom: 25px;
  }

}

@media (max-width: $screen-sm-min) {

  .item-video {

    .image-block {
      width: 100%;

      img {
        height: auto;
      }

    }

    .description-block {
      width: 100%;
      padding: 25px 15px;
    }

  }

}