.item-media {
  padding-right: 35px;
  margin: 0 0 65px;

  .image-block {
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
  }

}

@media (max-width: $screen-md-min) {

  .item-media {
    padding-right: 0;
    margin: 0 0 20px;

    .image-block {
      margin: 0 0 20px;
    }

  }

}

@media (max-width: $screen-sm-min) {

  .item-media {
    text-align: center;

    .image-block {
      margin: 0 0 15px;
    }

  }

}