.item {

  &-post {
    margin: 0 0 25px;
    display: block;

    &:last-child {
      margin: 0 0 55px;
    }

    &-featured, &-related {

      &:not(:last-child) {
        margin: 0 0 25px;
      }

      .item-image {
        margin: 0;

        &:not(:last-child) {
          margin: 0 0 20px;
        }

      }

      .description-block {
        margin: 0;
        line-height: 1;

        &:not(:last-child) {
          margin: 0 0 30px;
        }

        h3 {
          font-size: 14px;

          &:not(:last-child) {
            margin: 0 0 10px;
          }

        }

        time {
          text-transform: uppercase;
          color: $brand-danger;
          font-family: $font-family-sans-serif;
          font-weight: 600;
          display: block;
        }

      }

    }

    &-related {
      margin: 0 0 90px;

      .item-image {

        &:not(:last-child) {
          margin: 0 0 30px;
        }

      }

    }

  }

  &-post-sm {
    margin: 0 -15px 50px;

    .item-image {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 30px;
      }

    }

    .item-description {
      margin: 0;
      padding: 28px 0;

      &:not(:last-child) {
        margin: 0 0 30px;
      }

    }

  }

}

@media (max-width: $screen-lg-min) {

  .item {

    &-post-sm {
      margin: 0 -15px 40px;

      .item-description {
        padding: 0;
      }

    }

  }

}

@media (max-width: $screen-md-min) {

  .item {

    &-post-sm {
      margin: 0 -15px 25px;

      .item-image {
        margin: 0 0 20px;
      }

    }

    &-post {

      &:last-child {
        margin: 0 0 30px;
      }

      &-related:last-child {
        margin: 0 0 30px;
      }

    }

  }

}

@media (max-width: $screen-sm-min) {

  .item {

    &-post {

      &:last-child {
        margin: 0 0 25px;
      }

    }

    &-post-sm {
      margin: 0 -15px 20px;
    }

  }

}