.item {

  &-tags {
    margin: 0 0 60px;

    .btn-default {
      min-width: auto;
      display: inline-block;
      padding: 15px;
      margin-bottom: 10px;

      &:not(:last-child) {
        margin-right: 10px;
      }

    }

  }

}

@media (max-width: $screen-lg-min) {

  .item {

    &-tags {
      margin: 0 0 30px;
    }

  }

}