.section-projects {

  .row {
    padding: 0 0 30px;
  }

}

@media (max-width: $screen-md-min) {

  .section-projects {

    .row {
      padding: 0 0 20px;
    }
  
  }

}

@media (max-width: $screen-sm-min) {

  .section-projects {

    .row {
      padding: 0;
    }
  
  }

}