.share {
  float: right;

  &-text {
    text-transform: uppercase;
    color: $black-2;
    font-weight: 600;
    font-size: 13px;
  }

  time {
    text-transform: uppercase;
    color: $black-2;
    font-size: 13px;
    border-right: 1px solid #dbdbdb;
    margin-right: 15px;
    padding-right: 15px;
    font-weight: 600;
  }

  &-button {
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    position: relative;
    border: 1px solid #d9e1e2;
    border-radius: 50%;
    vertical-align: middle;
    background: $white;
    z-index: 6;
    cursor: pointer;
    transition: color 0.3s linear, background 0.3s linear, border-color 0.3s linear;
    font-size: 20px;
    overflow: hidden;

    > i {
      @include align-item;
    }

    &:hover {
      background: $brand-danger;
      color: $white;
      border-color: transparent;
      overflow: visible;

      & .social-drop {
        transform: translateX(0);
        visibility: visible;
      }

    }

  }

  .social-drop {
    @include inline-space-reset;
    margin: 0;
    border: 1px solid $gray-light-3;
    border-radius: 30px;
    position: absolute;
    padding: 10px 50px 10px 25px;
    top: 0;
    bottom: 0;
    color: $gray;
    min-width: 155px;
    transform: translateX(100%);
    visibility: hidden;
    right: 0;
    background: $white;
    transition: transform 0.3s linear, visibility 0.3s linear;

    li {
      display: inline-block;
      @include inline-space(1, 20px);
      width: (100%/3);

      &:not(:last-child) {
        padding-right: 15px;
      }

    }

  }

}

